html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.nav-mobile.nav-bar-icon {
  z-index: 9999;
  position: relative;
  pointer-events: auto;
  cursor: pointer;
}
